{% extends "blog_base.html" %}
{% block content %}
<div class="blog-masthead">
    <div class="container">
        <div class="navbar-header">
             <nav class="blog-nav">
             <a class="blog-nav-item active" href="/">Home</a>
             <a class="blog-nav-item" href="/about/">About</a>
             </nav>
        </div>
    </div>
</div>


<div class="container">
    <div class="blog-header">
     <h6 class="blog-title">Alan, from Taiwan</h1>
     <p class="lead blog-description">email : alanlee2005@gmail.com</p>
    </div>
    <div class="row">
        <div class="col-sm-8 blog-main">
            <dl>
             <dt><p class="text-info">History</p></dt>
              <dd> 1. Firmware developer since 2000</dd></dd>
              <dd> 2. Interesting with web site setup now, try to using Django for back end, bootstrap for front end.</dd> 
              <dd> 3. Hope change to be Web developer</dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}
