{% extends "blog_base.html" %}
{% block content %}
<div class="blog-masthead">
      <div class="container">
        <div class="navbar-header">
         <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Home</a>
          <a class="blog-nav-item" href="#">New features</a>
          <a class="blog-nav-item" href="#">Press</a>
          <a class="blog-nav-item" href="#">About</a>
         </nav>
        </div>
        <form class="navbar-form navbar-right navbar-top" role="form">
            <div class="form-group">
              <label>Welcome! {{user}}</label>
              <a href="/logout/" class="btn btn-success" role="button">Logout</a>
            </div>
        </form>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Welcome to Alan Blog</h1>
        <p class="lead blog-description">This is a blog that tested with django, bootstrap and heroku.</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
 {% for post in blogs %}
    <div class="blog-post">
     <h2 class="blog-post-title">{{ post.title }} </h2>
     <p class="blog-post-meta">{{ post.publish_data }} by <a href="#">Alan</a></p>
     <p> {{ post.body|safe|truncatewords:"10"|linebreaks }}</p>
     <p><a class="btn btn-default" href="/blogs/get/{{post.id}}/" role="button">View details &raquo;</a></p>
    </div><!-- /.blog-post -->
 {% endfor %}
 <ul class="pager">
  <li><a href="#">Previous</a></li>
  <li><a href="#">Next</a></li>
 </ul>
 </div><!-- /.blog-main -->
{% endblock %}
