{% extends "blog_base.html" %}
{% block navbarhead %}
<a class="blog-nav-item active" href="/">Home</a>
<a class="blog-nav-item" href="/about/">About</a>
{% endblock %}

{% block navbar %}
        <form class="navbar-form navbar-right navbar-top" role="form" action="/login/" method="post">{% csrf_token %}
            <div class="form-group">
              <input type="text" placeholder="Username" name='username' class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" name='password' class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
        </form>
{% endblock %}

{% block head %}
         <h1 class="blog-title">Welcome to Alan Blog</h1>
         <p class="lead blog-description">Nothing special, just record my whiskey history.</p>
{% endblock %}

{% block main %}
            <div class="blog-post">
                 <h2 class="blog-post-title">{{ post.title }} </h2>
                 <p class="blog-post-meta">{{ post.published_date }} by <a href="#">{{post.author}}</a></p>
                 <p> {{ post.body|safe|linebreaks }}</p>
                 <p>
                 <a class="btn btn-default" href="/blogs/get/{{post.id}}/comment/" role="button">Comments<span class="badge">42</span></a>
                 <a class="btn btn-default" href="/blogs/" role="button">Back &raquo;</a>
                 </p>
            </div><!-- /.blog-post -->
{% endblock %}
